{% extends "index.html" %} {% block title %} Admin Confirmaciones {% endblock %} {% block content %}



<div class="container mt-5">


    <h1 class="text-center">Confirmaciones</h1>

    <table class="table table-striped table-responsive-md mt-3">

        <thead>
            <tr>
                <th class="th-sm"> Nombres </th>
                <th class="th-sm"> Paterno </th>
                <th class="th-sm"> Materno </th>
                <th class="text-center"> Correo </th>
                <th class="text-center"> Documento </th>
                <th class="text-center"> Confirmaciones </th>
            </tr>
        </thead>

        {% for usuario in usuarios %}
        
        {% if usuario.fields.estadoConfirmacion == 'porConfirmar' %}
        <tr id="fila{{usuario.pk}}">
            <td>{{usuario.fields.nombres}}</td>
            <td>{{usuario.fields.apellidoPaterno}}</td>
            <td>{{usuario.fields.apellidoMaterno}}</td>
            <td>{{usuario.fields.correo}}</td>

            <td class="text-center">
                <!-- boton ver documento -->
                <button type="button" class="btn btn-sm mdb-color darken-2" style="color: #ebecee!important;"
                    data-toggle="modal" data-target="#modalDocumento{{ usuario.pk }}">
                    Ver documento
                </button>
            </td>

            <td class="text-center ">
                <!-- boton aceptar -->
                <button type="button" class="btn btn-sm mdb-color green darken-2" onclick="confirmar{{usuario.pk}}()" style="color: #ebecee!important;">
                    <i class="fas fa-check"></i>
                </button>  
                
                <script> 
                    function confirmar{{ usuario.pk }} (){
                        var request = new XMLHttpRequest()
                        request.open('GET', 'http://52.70.101.244:8000/confirmacionRegister?nombres={{usuario.fields.nombres}}&correo={{usuario.fields.correo}}', true)
                        request.send()

                        document.getElementById("fila{{usuario.pk}}").style.display = "none";
                    }
                </script>

                <!-- boton rechazar -->
                <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#modalRechazar{{ usuario.pk }}" style="background-color: #a50c11!important; color: #ebecee!important;">
                    <i class="fas fa-times"></i>
                </button>
            </td>

            <!-- Modal rechazar -->
            <div class="modal fade" id="modalRechazar{{ usuario.pk }}" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
    
                        <div class="modal-header">
                            <h4 class="modal-title"> Correo de respuesta </h4>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
    
                        <div class="modal-body ">
                            <input class="form-control mb-2" value="{{ usuario.fields.nombres }}" readonly>
    
                            <textarea class="mt-3" id="inputTextRechazar{{ usuario.pk }}"> 
                            </textarea>
                        </div>
    
                        <div class="modal-footer">
                            <button type="button" class="btn mdb-color darken-2" style="color: #ebecee!important;" data-dismiss="modal">
                                Cerrar
                            </button>
    
                            <button onclick="rechazar{{usuario.pk}}()" type="button" class="btn" style="background-color: #a50c11!important; color: #ebecee!important;" data-dismiss="modal">
                                Enviar
                            </button>
                            
                            <script type="text/javascript">
                                function rechazar{{ usuario.pk }}(){
                                    
                                    var mensajeRechazo = tinymce.get("inputTextRechazar{{ usuario.pk }}").getContent()
                                    
                                    console.log(mensajeRechazo)
    
                                    var formData = new FormData();
                                    formData.append('nombres', '{{usuario.fields.nombres}}');
                                    formData.append('correo', '{{usuario.fields.correo}}');
                                    formData.append('mensaje', mensajeRechazo);
                                    
                                    
                                    var request = new XMLHttpRequest()
                                    request.open("POST", "http://52.70.101.244:8000/rechazarRegister/");
                                    request.send(formData);

                                    document.getElementById("fila{{usuario.pk}}").style.display = "none";
                                    
                                }
                            </script>
    
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Modal documento -->
            <div class="modal fade" id="modalDocumento{{ usuario.pk }}" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
    
                        <div class="modal-header">
                            <h5 class="modal-title">Documento</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span> &times;</span>
                            </button>
                        </div>
    
                        <div class="modal-body">
                            <img class="img-fluid" src="data:image/png;base64, {{ usuario.fields.documento }}" />
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. i sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        </div>
    
                        <div class="modal-footer">
                            <button type="button" class="btn mdb-color darken-2" style="color: #ebecee!important;" data-dismiss="modal">
                                Cerrar
                            </button>
                        </div>
    
                    </div>
                </div>
            </div>

        </tr>


        


        {% endif %}
        {% endfor %}


    </table>


</div>




<!-- Editar mensaje confirmar -->
<div class="container mt-5">

    <h1 class="text-center">Mensaje de confirmación</h1>

    <div class="row mt-4">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="#">

                <div class="form-group shadow-textarea">

                    <textarea class="container mt-5" id="inputTextMensajeConfirmacion">
                    </textarea>

                </div>

                <div class="text-center mb-4">
                    <button onclick="cambiarMensaje{{usuario.pk}}()" type="button" class="btn btn-sm mdb-color darken-2" style="color: #ebecee!important;">
                        Modificar
                    </button>
                </div>

                <script type="text/javascript">
                    function cambiarMensaje{{ usuario.pk}} (){
                        var mensajeCONFIRMACION = tinymce.get('inputTextMensajeConfirmacion').getContent()

                        console.log(mensajeCONFIRMACION)

                        var formData = new FormData();
                        formData.append('mensaje', mensajeCONFIRMACION);
                        
                        var request = new XMLHttpRequest()
                        request.open("POST", "http://52.70.101.244:8000/cambiarMensajeConfirmacion/");
                        request.send(formData);

                        
                    }
                </script>

            </form>
        </div>
        <div class="col-md-3"></div>

    </div>


</div>









<script src=" //cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.1/tinymce.min.js"></script>

{% for usuario in usuarios %}

<script type="text/javascript">
    tinymce.init({
        selector: '#inputTextRechazar{{ usuario.pk }}',
        height: 140,
        theme: 'modern',
        plugins: [
            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'emoticons template paste textcolor colorpicker textpattern imagetools'
        ],
        toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        toolbar2: 'print preview media | forecolor backcolor emoticons',
        image_advtab: true
    });
</script>

{% endfor %}

<script type="text/javascript">

    function resolveAfter2Seconds() {
        return new Promise(resolve => {
            setTimeout(() => {

                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", 'http://52.70.101.244:8000/verMensajeConfirmacion/', false ); // false for synchronous request
                xmlHttp.send( null );
                tinymce.get('inputTextMensajeConfirmacion').setContent(xmlHttp.responseText);
                resolve('resolved');
            }, 2000);
        });
    }

    async function cambiarTexto() {
        console.log('calling');
        const result = await resolveAfter2Seconds();
        //console.log(result);
    }

    tinymce.init({
        selector: '#inputTextMensajeConfirmacion',
        height: 140,
        theme: 'modern',
        plugins: [
            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'emoticons template paste textcolor colorpicker textpattern imagetools'
        ],
        toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        toolbar2: 'print preview media | forecolor backcolor emoticons',
        image_advtab: true,
        
        setup: function (editor) {
            editor.on('init', function (e) {
                cambiarTexto()
            });
        }

    });


    $(document).ready(function() {
        hidden_logeada_o_no()
    });

    
</script>






{% endblock %}